In [3]:
# load csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('filtered_data.csv')
df.columns

Index(['meter_id', 'energy_import', 'energy_export', 'datetime',
       'import_consumption', 'export_consumption', 'hour', 'day', 'date',
       'net_consumption'],
      dtype='object')

In [9]:
df = df[['meter_id', 'energy_import', 'energy_export', 'datetime', 'import_consumption', 'export_consumption']]

In [10]:
df

,meter_id,energy_import,energy_export,datetime,import_consumption,export_consumption
0,14381705,1425261.0,403698.0,2025-06-01 12:45:00,0.0,3079.0
1,14381705,1425261.0,407441.0,2025-06-01 13:00:00,0.0,3743.0
2,14381705,1425261.0,411968.0,2025-06-01 13:15:00,0.0,4527.0
3,14381705,1425261.0,415957.0,2025-06-01 13:30:00,0.0,3989.0
4,14381705,1425261.0,418874.0,2025-06-01 13:45:00,0.0,2917.0
...,...,...,...,...,...,...
5955,14463211,985653.0,71576.0,2025-06-08 05:00:00,14.0,3.0
5956,14463211,985666.0,71578.0,2025-06-08 05:15:00,13.0,2.0
5957,14463211,985681.0,71581.0,2025-06-08 05:30:00,15.0,3.0
5958,14463211,985694.0,71583.0,2025-06-08 05:45:00,13.0,2.0
5959,14463211,985707.0,71585.0,2025-06-08 06:00:00,13.0,2.0

In [12]:
df['import_consumption']= df['import_consumption'] / 1000  # Convert from Watts to kWh
df['export_consumption']= df['export_consumption'] / 1000  # Convert from Watts to kWh

C:\Users\admin\AppData\Local\Temp\ipykernel_17460\1354990154.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['import_consumption']= df['import_consumption'] / 1000  # Convert from Watts to kWh
C:\Users\admin\AppData\Local\Temp\ipykernel_17460\1354990154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['export_consumption']= df['export_consumption'] / 1000  # Convert from Watts to kWh

In [11]:
df.to_csv('cleaned_filtered_data.csv', index=False)